{% if ax_request and ax_request.has_activity_callback %}
    <h3>Share activity?</h3>

    <p>The relying party indicated that it can provide activity updates to
    this community. Would you like to share your activities with your
    followers on this community?</p>

    <p class="pkg">
        <span class="field-input"><label>
            <input type="checkbox" name="share_activity" value="share" checked="checked" />
            Yes, share my activity
        </label></span>
    </p>
{% endif %}
