<!DOCTYPE html>
<html><head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>identity/activity {% block pagetitle %}Identity Server{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% url static path="style.css" %}">

    {% block head %}{% endblock %}
</head>
<body>

    <div id="page">
        <div id="banner">
            <div class="grid">
                <div class="span-1 title-icon">
                    <a href="{% url home %}"><img src="{% url static path="bread_aqua_32.png" %}" width="32" height="32" alt=""></a>
                </div>
                <div class="span-23 last">
                    <h1 class="title">
                        <a href="{% url home %}"><img src="{% url static path="identity_title.png" %}" alt="Identity"></a>
                    </h1>
                </div>
            </div>
        </div>

        <div class="grid">
            {% block content %}
                {% if flash %}
                    {% for key, message in flash.items %}
                        <div class="span-24 last flash-message flash-{{ key }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                {% for message in messages %}
                    <div class="span-24 last flash-message">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endblock %}
        </div>

        <div id="not-a-footer"></div>
    </div>

    <div id="footer">
        <div class="grid">
            <a title="Fork me on GitHub" href="http://github.com/sivy/idact-identity" id="github-ribbon">
                <span>Fork me on GitHub</span>
            </a>
        </div>
    </div>

</body></html>
