{% if pape_request %}
    {% if pape_request.preferred_auth_policies %}
        <p>{{ trust_root }} has requested that we use the following authentication policies:</p>

        {% for uri in pape_request.preferred_auth_policies %}
            {% if forloop.first %}<ul>{% endif %}
            <li>{{ uri }}</li>
            {% if forloop.last %}</ul>{% endif %}
        {% endfor %}
    {% endif %}

    {% if pape_request.preferred_auth_level_types %}
        <p>{{ trust_root }} requested authentication of the following level types:</p>

        {% for uri in pape_request.preferred_auth_level_types %}
            {% if forloop.first %}<ul>{% endif %}
            <li>{{ uri }}</li>
            {% if forloop.last %}</ul>{% endif %}
        {% endfor %}
    {% endif %}
{% endif %}
