{% extends "base.html" %}
{% load idact %}

{% block head %}
<!-- We should be able to space-separate both rel values in one attribute,
     but some older OpenID implementations don't parse that. -->
<link rel="openid.server" href="{% absoluteurl %}{% url identity.views.endpoint %}{% endabsoluteurl %}">
<link rel="openid2.provider" href="{% absoluteurl %}{% url identity.views.endpoint %}{% endabsoluteurl %}">
{% endblock %}

{% block content %}

    <div class="span-24">
        <h1>
            {% if profile_user.first_name %}
                {{ profile_user.first_name }} {{ profile_user.last_name }}
            {% else %}
                {{ profile_user.username }}
            {% endif %}
        </h1>

        {{ block.super }}

        <p>{% absoluteurl %}{% url profile username=profile_user.username %}{% endabsoluteurl %}</p>

        {% ifequal user profile_user %}
            <p>This is <strong>your</strong> OpenID! Would you like to:</p>

            <ul>
                <li><a href="{% url identity.views.edit_profile %}">Edit your profile</a></li>
                <li><a href="{% url django.contrib.auth.views.logout %}">Sign out</a></li>
            </ul>
        {% else %}
            <p>This is an OpenID!</p>
        {% endifequal %}
    </div>

{% endblock %}
