{% extends "base.html" %}
{% load idact %}

{% block head %}
<link rel="openid.server" href="{% absoluteurl %}{% url identity.views.endpoint %}{% endabsoluteurl %}">
<link rel="openid2.provider" href="{% absoluteurl %}{% url identity.views.endpoint %}{% endabsoluteurl %}">

<style type="text/css">
    .openid-link a:link, .openid-link a:hover, .openid-link a:visited, .openid-link a:active {
        color: black;
        text-decoration: none;
    }
    .openid-link a:hover {
        text-decoration: underline;
    }
    #profile-name img {
        vertical-align: middle;
    }
</style>
{% endblock %}

{% block content %}

    <div class="span-24 last">
        <h1 id="profile-name">
            <img src="{% url static path="avatars/waffle_32.png" %}" width="32" height="32">

            {% if profile_user.first_name %}
                {{ profile_user.first_name }} {{ profile_user.last_name }}
            {% else %}
                {{ profile_user.username }}
            {% endif %}
        </h1>
    </div>

    <div class="push-1 span-23 last">

        {{ block.super }}

        <p class="openid-link">
            <a href="{% url profile username=profile_user.username %}"><img src="{% url static path="openid.png" %}" width="16" height="16" alt=""></a>
            <a href="{% url profile username=profile_user.username %}">{% absoluteurl %}{% url profile username=profile_user.username %}{% endabsoluteurl %}</a>
        </p>

        <h3>Recent activity</h3>

        {% for act in profile_user.activity_set.all %}
            {% if forloop.first %}<ul>{% endif %}
            <li>{{ act.text }} <a class="arrow" href="{{ act.link }}">&#10148;</a></li>
            {% if forloop.last %}</ul>{% endif %}
        {% endfor %}

    </div>

{% endblock %}
