{% extends "base.html" %}

{% block body %}

    {% if trust_root_invalid or trust_root_unreachable %}

        <div class="error">
            <p>A web site claiming to be {{ trust_root }} wanted you to
            sign in, but its identity could not be verified.</p>

            {% if trust_root_invalid %}
                <p>The site at {{ trust_root }} couldn't verify the request.</p>
            {% else %}
                <p>The site at {{ trust_root }} couldn't be reached to verify the request.</p>
            {% endif %}

        </div>

        <form method="post" action="{% url identity.views.process_trust_result %}">
            <input type="submit" value="Return to {{ trust_root }}" name="cancel" />
        </form>

    {% endif %}

    {% if trust_root_valid or trust_root_undiscovered %}

        <div class="yay">
            <!-- Trust root has been validated by OpenID 2 mechanism. -->
            <p>The site <tt>{{ trust_root|escape }}</tt> has requested verification
            of your OpenID.</p>

            {% if trust_root_undiscovered %}
                <p>(The site at {{ trust_root }} couldn't verify for us that
                it made the request. Make sure when using {{ trust_root }} that you're
                contacting the real {{ trust_root }} web site.)</p>
            {% endif %}

            {% include "pape_request_info.html" %}
            {% include "ax_request_info.html" %}
        </div>

        <form method="post" action="{% url identity.views.process_trust_result %}">
            <p>Sign in to {{ trust_root }}?</p>

            <p>
                <input type="submit" value="Yes, sign in" name="allow">
                <input type="submit" value="No, cancel" name="cancel">
            </p>
        </form>

    {% endif %}

{% endblock %}
