@import url(ply.css);

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body { 
    font-size: 1.6em; 
}

.pkg:after,
.field:after {
    content: " ";
    display: block;
    visibility: hidden;
    clear: both;
    height: 0.1px;
    font-size: 0.1em;
    line-height: 0;
}
.pkg,
.field { display: inline-block; }
/* no ie mac \*/
* html .pkg,
* html .field { height: 1%; }
.pkg,
.field { display: block; }
/* */

h1.title {
    padding: 0;
    margin: 10px 0 0 0;
}

.title-icon img {
    margin: 17px 0 0 0;
}

div.flash-message, div.flash-error, ul.errorlist {
    background: #9f9;
    padding: 0.5em;
    margin: 0.5em 0;
    border: 1px solid #555;
    font-weight: bold;
}

div.error, ul.errorlist {
    background: #f99;
}

div.box {
    background: #eee;
    border: 1px solid black;
    padding: 1em;
}

a.arrow:link, a.arrow:visited, a.arrow:active {
    text-decoration: none;
}

a.arrow:hover {
    text-decoration: underline;
}

#banner {
    padding: 12px 0;
    background: #69c2e3;
}

#banner p {
    margin: 0;
    padding: 0;
}

#page {
    min-height: 100%;
    margin: 0 auto -100px;
    padding: 0;
}

#not-a-footer {
    clear: both;
    height: 100px;
}

#footer {
    display: block;
    position: relative;
    height: 38px;
    z-index: 4;
    overflow: visible;
    border-bottom: 12px solid #69c2e3;
    margin: 50px auto 0;
    padding: 0;
}

#github-ribbon {
    position: absolute;
    float: right;
    display: block;
    right: 0px;
    bottom: -12px;
    width: 200px;
    height: 200px;
    text-decoration: none;
    background: url(big-gray-ribbon.png) no-repeat -20px -20px;
}

a:link, a:hover, a:visited, a:active {
    outline: none;
}

#github-ribbon span {
    visibility: hidden;
}

form label {
    float: left;
    width: 8em;
    margin-right: 0.5em;
}

form .field-input {
    float: left;
    margin-right: 0.5em;
}

form .field-help {
    float: left;
    width: 30em;
    color: #999;
    font-size: 0.8em;
}

form p.buttons {
    margin-left: 8.5em;
}
